---
layout: compress
---

{% include head.html %}

    <main>

        {% include header.html %}

        <article>

            <h1>{{ page.title }}</h1>

            {{ content }}

            访客统计：<br>
            <center>
                <a href="http://s01.flagcounter.com/more/eEj3">
                    <img src="https://s01.flagcounter.com/map/eEj3/size_t/txt_000000/border_CCCCCC/pageviews_1/viewers_3/flags_0/" alt="Flag Counter" border="0
                </a>
            </center>
            <br>
            今日经文：<br>
            <center>
                <iframe width="300" scrolling="no" height="300" frameborder="0" src="https://www.bibliatodo.com/zh-CN/online/versiculo-del-dia-texto"></iframe>
            </center>

        </article>

    </main>

    {% include footer.html %}

</body>
</html>
